<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd" profile="dev">

    <!--dev环境-->
    <!--定义bean-->
    <bean class="com.github.leyland.letool.demo.spring.source.FirstSpringSource" name="firstSpringSource">
        <property name="str" value="dev"/>
    </bean>
</beans>